.third {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-image {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.third p {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  word-wrap: break-word;
}
