.toolbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background: darkgrey;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar span {
  font-size: 25px;
  margin-left: 20px;
}

.toolbar-links {
  display: flex;
  height: 100%;
}

.toolbar-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: white;
  transition: 0.2s;

  font-weight: 300;
  height: 100%;
  width: 100px;
}

.toolbar-links a:hover {
  background: grey;
  cursor: pointer;
}
